<!DOCTYPE html>
<html>
<head>
  <title>Create Department</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="top-bar">
<div class="bar-theme top-bar top-bar-large">
  <a href="/home" class="bar-item theme-l1">
    <button class="button theme">Go Back to Starter Page</button>
  </a>
</div>
</div>

<h1>Create Department</h1>
<form action="/departments" method="post">
  <label for=name>Department Name:</label>
  <input type="text" id="name" name="name" required>
  <br><br>
  <div>
    <button type="submit">Create</button>
  </div>
</form>
</body>
</html>
