<!DOCTYPE html>
<html>
<head>
  <title>Vital Signs Monitoring System</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="top-bar">

  <div class="bar-theme top-bar top-bar-large">
    <a href="/logout" class="bar-item theme-l1">
      <button class="button theme">Logout</button>
    </a>

    <div id="adminButtons" style="display: none;">
      <a href="/register" class="bar-item theme-l2">
        <button id="createDoctorButton" class="button theme">Create new user</button>
      </a>
      <a href="/departments" class="bar-item theme-l3">
        <button id="createDepartmentButton" class="button theme">Create new department</button>
      </a>
    </div>

    <div id="seniorDoctorButtons" style="display: none;">
      <a href="/assign" class="bar-item theme-l1">
        <button id="assignDoctorButton" class="button theme">Assign doctors to patients</button>
      </a>
      <a href="/doctorAppointments" class="bar-item theme-l2">
        <button id="appointmentCheckDoctorButton" class="button theme">Check booked appointments</button>
      </a>
    </div>

    <div id="doctorButtons" style="display: none;">
      <a href="/patientConclusion" class="bar-item theme-l4">
        <button id="reviewPatientConclusion" class="button theme">Review patients medical cards</button>
      </a>
    </div>

    <div id="receptionistButtons" style="display: none;">
      <a href="/patients" class="bar-item theme-l1">
        <button id="createPatientButton" class="button theme">Register new patient</button>
      </a>
      <a href="/appointment" class="bar-item theme-l2">
        <button id="appointmentButton" class="button theme">Book appointment</button>
      </a>
    </div>

    <div id="accountantButtons" style="display: none;">
      <a href="/account" class="bar-item theme-l1">
        <button id="" class="button theme">Edit inventory accounting</button>
      </a>
    </div>

  </div>

</div>


<div class="content">
  <div class="container">
    <h1>Vital Signs Monitoring System</h1>
    <p>Welcome to the Vital Signs Monitoring System!</p>
  </div>
</div>

<script>

  fetch('/position')
          .then(response => response.json())
          .then(data => {
            const userPosition = data.position;
            console.log(data); // Перевірка даних відповіді в консолі

            if (userPosition === 'admin') {
              document.getElementById('adminButtons').style.display = 'block';
            }

            if (userPosition === 'senior') {
              document.getElementById('seniorDoctorButtons').style.display = 'block';
              document.getElementById('doctorButtons').style.display = 'block';
            }

            if (userPosition === 'doctor') {
              document.getElementById('doctorButtons').style.display = 'block';
            }

            if (userPosition === 'receptionist') {
              document.getElementById('receptionistButtons').style.display = 'block';
            }

            if (userPosition === 'accountant') {
              document.getElementById('accountantButtons').style.display = 'block';
            }
          })
          .catch(error => console.error('Error:', error));

</script>
</body>
</html>
