<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <title>Monitor Patient</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="/UpdatePatientData.js"></script>
<!--  <script src="/VisualGraph.js"></script>-->
</head>
<body>
<h1>Monitor Patient</h1>

<div id="vital-data">
  <h2>Vital Data</h2>
  <table>
    <thead>
    <tr>
      <th>Parameter</th>
      <th></th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Heart Rate</td>
      <td></td>
      <td id="heart_rate"></td>
    </tr>
    <tr>
      <td>Systolic Blood Pressure</td>
      <td></td>
      <td id="systolic_bp"></td>
    </tr>
    <tr>
      <td>Diastolic Blood Pressure</td>
      <td></td>
      <td id="diastolic_bp"></td>
    </tr>
    <tr>
      <td>Temperature</td>
      <td></td>
      <td id="temperature"></td>
    </tr>
    <tr>
      <td>Oxygen Saturation</td>
      <td></td>
      <td id="oxygen_saturation"></td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <a href="/patientSelect">
    <button>Go back to patient selects</button>
  </a>
</div>

</body>
</html>
