<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <title>Monitor Patients</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="top-bar">
  <div class="bar-theme top-bar-large">
    <a href="/home" class="bar-item theme-l1">
      <button class="button theme">Go Back to Starter Page</button>
    </a>
    <a href="/monitorPatient" class="bar-item theme-l2">
      <button class="button theme">Select another Patient</button>
    </a>
    <a href="/patientConclusion" class="bar-item theme-l3">
      <button class="button theme">Review patients conclusion</button>
    </a>
  </div>
</div>

<h1>Review Patient Log</h1>

<div id="patientSelectContainer">
  <label for=patientSelect>Select Patients:</label>
  <select id="patientSelect" multiple size="5">
  </select>
  <br><br>
  <button id="startReviewBtn" onclick="showPatientHistory()">Show patient history</button>
  <br><br>
  <div id="patientHistoryContainer"></div>
</div>

<script>
  // Функція для отримання даних про пацієнта та заповнення випадаючого списку patientSelect
  fetch('/fetchPatients')
          .then(response => response.json())
          .then(data => {
            data.forEach(patient => {
              const option = document.createElement("option");
              option.value = patient.id;
              option.text = `${patient.firstName} ${patient.lastName}`;
              patientSelect.appendChild(option);
            });
          })
          .catch(error => {
            console.error('Error fetching patients:', error);
          });

  // Функція для отримання та відображення історії пацієнта на основі обраного пацієнта
  function showPatientHistory() {
    const patientSelect = document.getElementById("patientSelect");
    const selectedPatientId = patientSelect.value;
    const patientHistoryContainer = document.getElementById("patientHistoryContainer");

  // Очистити контейнер наявної історії хвороби
    patientHistoryContainer.innerHTML = '';

    if (selectedPatientId) {
      // Отримання історії пацієнта на основі вибраного ідентифікатора пацієнта
      fetch(`/patient_history/${selectedPatientId}`)
              .then(response => response.json())
              .then(data => {
                if (data && data.patientHistory && data.patientHistory.length > 0) {
                  // Create an unordered list to display the patient history
                  const historyList = document.createElement("ul");

                  // Створення невпорядкованого списку для відображення історії пацієнта
                  data.patientHistory.forEach(history => {
                    const historyItem = document.createElement("li");

                    // Update property names to match the field names in the entity class
                    const content = `Heart Rate: ${history.heart_rate}, Systolic BP: ${history.systolicBP}, Diastolic BP: ${history.diastolicBP}, Oxygen Saturation: ${history.oxygen_saturation}, Temperature: ${history.temperature}, Timestamp: ${history.timestamp} `;

                    historyItem.textContent = content;
                    historyList.appendChild(historyItem);
                  });

                  // Додання списку історій до контейнера patientHistoryContainer
                  patientHistoryContainer.appendChild(historyList);
                } else {
                  // Якщо історія хвороби відсутня
                  const noHistoryMessage = document.createElement("p");
                  noHistoryMessage.textContent = "No patient history available.";
                  patientHistoryContainer.appendChild(noHistoryMessage);
                }

                // Відображення відповіді JSON для налагодження
                console.log(JSON.stringify(data));
              })
              .catch(error => console.error('Error:', error));
    }
  }
</script>
</body>
</html>